<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="icon" type="image/x-icon" href="/resources/icon/favicon-news.png">
    <script src="https://kit.fontawesome.com/76ad8a7d7b.js" crossorigin="anonymous"></script>
    <title>Ostrava News - Manuel García</title>
</head>

<body>

    <header class="no-margin no-padding">

        <!-- Header Component -->
        <div class="header_logo center-content">
            ostrava<span class="header_span">!!!</span>
        </div>

        <nav>
            <a class="menu__link" href="/index.html">Home</a>
            <a class="menu__link" href="/pages/view/information.html">Counter</a>
            <a class="menu__link" href="/pages/view/contact.html">Contact</a>
        </nav>

    </header>

    <main class="container">

        <h3>obstrava city hospital has launch construction</h3>

        <picture>
            <img src="/resources/img/entry1.png" alt="Article image">
        </picture>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit cum error pariatur, incidunt sequi
            sed sit magnam corrupti nihil blanditiis? Molestiae, repellat amet optio consequuntur temporibus sunt magni
            numquam eum!.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum alias mollitia, totam omnis consequatur
            voluptates cupiditate? Nesciunt, aspernatur quam. Adipisci eaque placeat ipsa quas temporibus, sit officiis
            quaerat architecto sequi!
        </p>

        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error sapiente est possimus perspiciatis animi.
            Ipsum, amet officia! Nesciunt, accusamus modi? Culpa possimus optio cumque tempore porro? Magni corporis
            temporibus quo?
        </p>

        <hr class="solid">

        <h3>cantera opens a new logistic</h3>

        <picture>
            <img src="/resources/img/entry2.png" alt="Article image">
        </picture>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit cum error pariatur, incidunt sequi
            sed sit magnam corrupti nihil blanditiis? Molestiae, repellat amet optio consequuntur temporibus sunt magni
            numquam eum!.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum alias mollitia, totam omnis consequatur
            voluptates cupiditate? Nesciunt, aspernatur quam. Adipisci eaque placeat ipsa quas temporibus, sit officiis
            quaerat architecto sequi!
        </p>

        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error sapiente est possimus perspiciatis animi.
            Ipsum, amet officia! Nesciunt, accusamus modi? Culpa possimus optio cumque tempore porro? Magni corporis
            temporibus quo?
        </p>

    </main>

    <!-- Footer Component -->
    <footer class="footer">

        <div class="footer-container">
            <div class="row">

                <div class="footer-col">
                    <h3>Search</h3>
                    <a href="./information.html">Counter</a>
                </div>

                <div class="footer-col">
                    <h3>Ostrava</h3>
                    <a href="/pages/view/content.html">News</a>
                </div>

                <div class="footer-col">
                    <h3>Contact</h3>
                    <a href="/pages/view/contact.html">Contact Form</a>
                </div>

                <div class="footer-col">
                    <h3>Follow Us</h3>
                    <div class="social-links">
                        <li>
                            <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                            <a href=""><i class="fa-brands fa-twitter"></i></a>
                            <a href=""><i class="fa-brands fa-instagram"></i></a>
                            <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                        </li>
                    </div>
                </div>

            </div>
        </div>

        <hr class="solid">
        <div class="center-text">
            <p> Manuel García Alonso - Presentation is educational student's project</p>
        </div>

    </footer>

</body>

</html>