<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="icon" type="image/x-icon" href="/resources/icon/favicon-contact.png">
    <script src="https://kit.fontawesome.com/76ad8a7d7b.js" crossorigin="anonymous"></script>
    <title>Ostrava Contact - Manuel García</title>
</head>

<body>

    <header class="no-margin no-padding">

        <!-- Header Component -->
        <div class="header_logo center-content">
            ostrava<span class="header_span">!!!</span>
        </div>

        <nav>
            <a class="menu__link" href="/index.html">Home</a>
            <a class="menu__link" href="/pages/view/content.html">Content</a>
            <a class="menu__link" href="/pages/view/contact.html">Contact</a>
        </nav>

    </header>

    <section class="shadow container-center">

        <h2>Contact</h2>

        <form action="" class="form" id="form">

            <fieldset>
                <legend>Contact Form</legend>

                <div class="field-container">

                    <div class="field">
                        <label for="">Name:</label>
                        <input class="input-text" type="text" placeholder="Name" id="name">
                    </div>

                    <div class="field">
                        <label for="">Surname:</label>
                        <input class="input-text" type="text" placeholder="Surname" id="surname">
                    </div>

                    <div class="field">
                        <label for="">Email:</label>
                        <input class="input-text" type="email" placeholder="Email" id="email">
                    </div>

                    <div class="field">
                        <label for="">Messaje:</label>
                        <textarea name="messaje" id="messaje" cols="20" rows=""></textarea>
                    </div>

                    <div class="send">
                        <input class="button" type="submit" id="button" value="Send">
                    </div>

                </div>
            </fieldset>


        </form>

    </section>

    <!-- Footer Component -->
    <footer class="footer">

        <div class="footer-container">
            <div class="row">

                <div class="footer-col">
                    <h3>Search</h3>
                    <a href="./information.html">Counter</a>
                </div>

                <div class="footer-col">
                    <h3>Ostrava</h3>
                    <a href="/pages/view/content.html">News</a>
                </div>

                <div class="footer-col">
                    <h3>Contact</h3>
                    <a href="/pages/view/contact.html">Contact Form</a>
                </div>

                <div class="footer-col">
                    <h3>Follow Us</h3>
                    <div class="social-links">
                        <li>
                            <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                            <a href=""><i class="fa-brands fa-twitter"></i></a>
                            <a href=""><i class="fa-brands fa-instagram"></i></a>
                            <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                        </li>
                    </div>
                </div>

            </div>
        </div>

        <hr class="solid">
        <div class="center-text">
            <p> Manuel García Alonso - Presentation is educational student's project</p>
        </div>

    </footer>

    <script src="/functions/functions.js"></script>

</body>

</html>