<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/submenu.css">
    <link rel="icon" type="image/x-icon" href="./resources/icon/favicon-standard.png">
    <link rel="icon" type="image/x-icon" href="/resources/icon/favicon-information.jpg">
    <title>Ostrava Information - Manuel García</title>
</head>

<body>

    <header>

        <nav class="navegation">
            <ul class="menu">
                <li><a href="/index.html">Home</a></li>
                <li><a>Services</a>
                    <ul class="submenu">
                        <li><a href="/pages/view/content.html">Content</a></li>
                        <li><a href="/pages/view/contact.html">Contact</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

    </header>

    <main>

        <label id="countLabel">0</label>

        <div class="center">
            <button id="descreaseButton">decrease</button>
            <button id="resetButton">reset</button>
            <button id="increaseButton">increase</button>
        </div>

    </main>

    <script src="/functions/functions.js"></script>

</body>

</html>